.navbar {
  background-image: url('https://images.unsplash.com/photo-1536965764833-5971e0abed7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
  background-position: 10%;
  padding: 7rem 10%;
}

.booksoul{
  font-size: 18px;
  letter-spacing: .25em;
  color: black;
  background-color:#F2D194;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}

.nav-link{
  text-decoration: none;
  letter-spacing: .25em;
  color: black;
  background-color:#F2D194;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: inset 0 0 0 var(--border-size)
  currentcolor;
  transition: background .8s ease;
}

a:hover {
  text-decoration: none;
  background: #91AA9D;
  color:black;
}

