.navbar {
  background-color: #6583bf;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #f2c9d1;
  margin: auto;
  font-size: 20px;
}
a:hover {
  text-decoration: none;
  color: #f28379;
}

.nav-item {
  font-size: 25px;
}
